.banner-section{
        min-height: 590px;
        display: flex;
        align-items: center;
    .banner-content{
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 588px;
        background-color: rgba(0,0,0,0.6);
        padding: 43px 20px 30px 20px;
             &__text{
                 padding-bottom: 27px;
                 width: 100%;
                 max-width: 485px;
                 h3{
                     color:$white;
                     font-size:37px;
                 }
             }
        .yellow-btn{
            padding: 20px 25px;
          

          &:hover{
              color:$black;
              span{
                  transition: all .4s ease; 
                  &:after{
                    transition: all .4s ease; 
                    transform: translateX(5px);
                  }
              }
          }
        }
    }
    
}
.find{

    &-content{
      
        &__icon{
            margin-left:27px;
        }
        &__text{
            padding: 0 15px;
            h4{
                font-size: 38px;
                font-weight:400;
            }
            p{
                font-size:16px;
                font-weight:700;
            }
        }
        .find-input{
            width: 100%;
            //max-width: 259px;
            height:54px;
            font-size: 18px;
            padding:10px 15px;
            outline: none;
            font-family: "Lato";
            border: 1px solid #b7b7b7;
            outline:none;
            &:focus{ 
                border-color:#b7b7b7;   
            }
        }
        .find-submit {
            padding: 16px 38px;
            border-radius: unset;
            font-size: 18px;
            color: #ffffff;
            height: 54px;
            font-size: 18px;
            font-weight: 700;
            transition:all .3s ease;
            &:hover{
              color:$black;
            }
        }
       
    }
}
.offers{
    &-content{
        text-align: center;
    }
    &-box{
       
        h3{
            padding:10px 0;
        }
        &-item{
            display: grid;
            text-align: center;
            &__circle{
                justify-self: center;
                width: 84px;
                height:84px;
                border-radius: 50px;
                display: flex;
                justify-content:center;
                align-items:center;
            }
        }
    }
    .yellow-btn{
        font-size:16px;
        font-weight:700;
        padding: 20px 54px;
    }
}
.get-start{

    &-content{
        .get-start-box {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 0 23px;
            &-item{
                &__img{
                    max-height: 205px;
                    overflow: hidden;
                }
                p.text-with-arrow {
                    padding: 9px 18px;
                    background: $yellow;
                    width: 100%;
                    font-size: 20px;
                }
                display: block;
                position: relative;
                width: 100%;
                height: 244px;
                p{
                    position:absolute;
                    left:0;
                    bottom:0;
                }
    
            }
        }
        
    }
}
.slider-box{
    .slick-dots li button { 
        font-size: 0; 
     } 

    &__item{
        &__text {
            background: #fff;
            padding: 27px 19px;
            font-size: 20px;
            p {
                font-size: 20px;
            }
        }
        &__author-area {
            padding-top: 13px;
            &__name{
                text-align: right;
            }
        }
    }
}

.latest-news{

    .latest-news-content{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 0 23px;

        .news-item{
            border: 1px solid #e1e1e1;
            &__img{
                position: relative;
                &__date{
                    padding: 3px 5px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    background:$yellow;
                    span.month {
                        font-size: 16px;
                        font-weight: 700;
                        display: flex;
                        justify-content: center;
                    }
                    span.day {
                        font-size: 20px;
                        font-weight: 700;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }

                }
            }
            &__title{
                h5{
                    font-size: 24px;
                    font-weight: 400;
                    padding:15px

                }
            }
            &__text{
                padding:0 15px;
                margin-bottom:20px;
        
                p{
                    font-size: 16px;
                    font-weight: 400;
                }
                a.more-link {
                    font-weight: 400;
                    line-height: 24px;
                    color: #db302c;
                }
            }
            .author{
                padding:15px;
                border-top: 1px solid #e1e1e1;
                p {
                text-transform: uppercase;
                font-weight: 700;
                }
            }
        }
    }
    .btn-area{
        display: flex;
        justify-content: center;
        padding:30px 0;
        .yellow-btn{
            padding: 20px 54px;
        }
    }
} 
.contact-gallery{
       border-top:5px solid $white;
      background-color:$red;
     
    .contact-box{
            input{
            font-size: 16px;
            font-weight:400;
            width:100%;
            }
            input[type="value"]{
                font-family: 'Lato', sans-serif;
                font-size: 16px;
                font-weight:400;
                color:#ababab;
            }

        .subject {
                grid-column: 1/3;
                display: grid;
                position: relative;
                &:after{
                    content:'';
                    width:15px;
                    height:7px;
                    background:url('/wp-content/uploads/2019/06/select_arrow.png')no-repeat center;
                    background-size:cover;
                    display:inline-block;
                    position:absolute;
                    top: 20px;
                    right: 20px;
                }
        }
        select[name="subject"]{
                padding: 10px 10px;
                font-size: 16px;
                font-weight: 400;
                font-family: 'Lato', sans-serif;
            
        }
        .your-message {
            grid-column: 1/3;
            }
        textarea {
            resize: none;
            max-height: 168px;
        }
            
        // .btn-area {
        //     grid-column: 1/3;
        //     justify-self: end;
        //     display: grid;
        // } 
        input[type="submit"] {
            color: $red;
            font-size: 16px;
            font-weight: 700;
            border-radius: unset;
            background-color: #fff;
            &:hover{
                background-color:darken(#fff,10%);
            }
        }
    
    .btn-area{
        grid-column: 1/5;
        justify-self: center;
        a{
        @include btn($white,18px,15px);
        }
    }
 }
}
   