.banner-section{
        min-height: 590px;
        display: flex;
        align-items: center;
        margin-top: -97px;
    .banner-content{
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 588px;
        background-color: rgba(0,0,0,0.6);
        padding: 43px 20px 30px 20px;
             &__text{
                 padding-bottom: 27px;
                 width: 100%;
                 max-width: 485px;
                 h3{
                     color:$white;
                     font-size:37px;
                 }
             }
        .yellow-btn{
            padding: 20px 25px;
          

          &:hover{
              color:$black;
              span{
                  transition: all .4s ease; 
                  &:after{
                    transition: all .4s ease; 
                    transform: translateX(5px);
                  }
              }
          }
        }
    }
    
}
.find{

    &-content{
        display: flex;
        align-items: center;
        padding: 38px 0;
        &__icon{
            margin-left:27px;
        }
        &__text{
            padding: 0 15px;
            h4{
                font-size: 38px;
                font-weight:400;
            }
            p{
                font-size:16px;
                font-weight:700;
            }
        }
        .find-input{
            width: 100%;
            width: 259px;
            font-size: 18px;
            padding:10px 15px;
            outline: none;
            font-family: "Lato";
            border: 1px solid #b7b7b7;
            outline:none;
            &:focus{ 
                border-color:#b7b7b7;   
            }
        }
        .find-submit {
            padding: 16px 38px;
            border-radius: unset;
            font-size: 18px;
            color: #ffffff;
            height: 54px;
            margin-left: 10px;
            font-size: 18px;
            font-weight: 700;
        }
        form{
            display:flex;
        }
    }
}
.offers{
    &-content{
        text-align: center;
    }
    &-box{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding-bottom: 40px;
        grid-gap: 50px 15px;
        &-item{
            display: grid;
            text-align: center;
            &__circle{
                justify-self: center;
                width: 84px;
                height:84px;
                border-radius: 50px;
                display: flex;
                justify-content:center;
                align-items:center;
            }
        }
    }
    .yellow-btn{
        font-size:16px;
        font-weight:700;
        padding: 20px 54px;
    }
}
.get-start{

    &-content{
        .get-start-box {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 0 23px;
            &-item{
                &__img{
                    max-height: 205px;
                    overflow: hidden;
                }
                p.text-with-arrow {
                    padding: 9px 18px;
                    background: $yellow;
                    width: 100%;
                    font-size: 20px;
                }
                display: block;
                position: relative;
                width: 100%;
                height: 244px;
                p{
                    position:absolute;
                    left:0;
                    bottom:0;
                }
    
            }
        }
        
    }
}