@mixin btn($color,$padding-x,$padding-y) {
    display: inline-block;
    background-color: $color;
    color: $black;
    font-size:17px;
    font-weight: 700;
    padding:$padding-y $padding-x;
    transition: all .3s ease;
    &:hover{
        background-color: lighten($color, 10%);
    }
}

@mixin title($color) {
    color:$color;
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 30px;  
}