.window-article {
    display: grid;
    grid-template-columns: 535px 1fr;
    padding: 28px 0;
    &__text{
        padding-left: 20px;
        p{
            padding-bottom: 30px;
            &:last-child{
                padding-bottom: 0;
            }
        }
    }
}

@media(max-width:992px){
    .window-article {
        grid-template-columns: 350px 1fr;
    }
    .get-start-content .get-start-box {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 23px 23px;
    }
}

@media(max-width:768px){
    .window-article {
        grid-template-columns: 1fr;
        &__img{
            justify-self: center;
        }
        &__text{
            padding-left: 0;
            text-align: center;
        }
    }
}

@media(max-width:680px){
    .get-start-content .get-start-box {
        grid-template-columns: 1fr;
    }
}
